@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(../src/images/homepage.jpg);
}

code {
  font-family: 'Roboto', sans-serif;
}

.jumbotron{
  margin: 50px;
  opacity: 0.8;
  align-content: center;
}
.btn{
  margin: 20px;
  background-color: #0B244D;
}

.card{
  margin: 10px;
}

.carousel-img{
  height: 400px;
  width: 2000px;
}